body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    margin: 0;
}
.header {
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
}
ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}
a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}
.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.first {
    background-color: #1F2937;
    display: flex;
    padding: 40px;
    gap: 30px;
    padding-bottom: 60px;
    flex-direction: row;
}
.right {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
}
.right .title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}
.right .subtext {
    font-size: 18px;
    color: #E5E7EB;
}
.right button {
    color: white;
    background-color: #3882F6;
    border: 0;
    padding: 6px;
    width: 100px;
    border-radius: 6px;
}
.left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: auto;
}
.left img {
    min-width: 200px;
    min-height: 200px;
}

.second {
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 30px;
    padding-bottom: 60px;
    justify-content: center;
    align-items: center;
}
.second .title {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}
.container {
    display: flex;
}
.container .part {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
}
.container img {
    height: 100px;
    width: 100px;
    border-radius: 10px;
    border: 2px solid #3882F6;
}

.third {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 60px 150px;
    justify-content: center;
    align-items: center;
}
.third .container {
    display: flex;
    flex-direction: column;
    max-width: 600px;
}
.third .quote {
    font-size: 24px;
    font-weight: 100;
    font-style: italic;
}
.third .credits {
    align-self: flex-end;
    font-weight: 700;
}